            <label for="rank">Звання:</label>
            <input type="text" id="rank" name="rank" required>

            <label for="name">Ім'я:</label>
            <input type="text" id="name" name="name" required>

            <label for="lastname">Прізвище:</label>
            <input type="text" id="lastname" name="lastname" required>
            
            <label for="duty">Наряд</label>
            <input type="date" id="duty" name="duty" required>

            <label for="bigDuty">Варта</label>
            <input type="date" id="bigDuty" name="bigDuty" required>